body {
    padding-top: 70px;
    padding-bottom: 20px;
    font: Monospace;
    background-color: #f0d3d6;
    padding: 10px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.ingredients {
    display: none;
}

.navbar-inverse {
    background-color: #82494f !important;
}

a.mynav {
    background-color: #82494f !important;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

#rowLunch {
    border: 5px solid black;
    padding: 10px;
    border-radius: 25px;
}

#rowDinner {
    border: 5px solid black;
    padding: 10px;
    border-radius: 25px;
}

#rowDessert {
    border: 5px solid black;
    padding: 10px;
    border-radius: 25px;
}

.container-fluid {
    width: 100%
}

#conDessert {
    align-content: center;
    width: 100%;
}

#addButton {
    float: right;
    border-radius: 25px;
    font-size: smaller;
    padding: 5px;
    background-color: aliceblue;
    border-color: aliceblue;
}

#orderButton {
    border-radius: 25px;
    font-size: 20px;
    background-color: aliceblue;
    border-color: aliceblue;
    border-radius: 25px;
    color: black;
    padding: 10px 15px;
    border: none;
    float: left;
    margin-top: 25px
}

#ingredientsButton {
    border-radius: 25px;
    font-size: smaller;
    padding: 5px;
    background-color: aliceblue;
    border-color: aliceblue;
}

#title {
    font-family: Candara;
    text-align: center;
    font-size: 100px;
}

.sidepanel {
    width: 0px;
    position: fixed;
    float: right;
    z-index: 1;
    top: 65px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: #ffffff
}

    .sidepanel a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }

        .sidepanel a:hover {
            color: #ffffff;
        }

    .sidepanel .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
    }

.openbtn {
    font-size: 20px;
    cursor: pointer;
    border-radius: 25px;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    display: none;
    float: left;
    margin-top 25px;
}

    .openbtn:hover {
        background-color: #444;
    }

#tableOrder {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}
#tableOrder td, #tableOrder th {
    padding: 8px;
}

#loginButton {
    font-size: 10px;
    border-radius: 25px;
    background-color: aliceblue;
    border-color: aliceblue;
    color: black;
    padding: 10px 15px;
    border: none;
    width: auto;
    float: right;
    margin-top: 35px
}